<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" maxRequestLength="999999999" executionTimeout="220000" encoderType="System.Web.Security.AntiXss.AntiXssEncoder" requestValidationMode="4.5" />
    <pages validateRequest="true" enableEventValidation="true" enableViewStateMac="true" maintainScrollPositionOnPostBack="false" viewStateEncryptionMode="Always">
    </pages>
    <customErrors defaultRedirect="Error.htm" mode="Off">
      <error redirect="/eMarking/error" statusCode="403"/>
      <error redirect="/eMarking/error" statusCode="404"/>
      <error redirect="/eMarking/error" statusCode="500"/>
    </customErrors>
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="30000000"/>
        <!--<verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
        </verbs>-->
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="Server"/>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
        <clear/>
        <!--<add name="Pragma" value="no-cache"/>-->
        <add name="cache-control" value="public,max-age=31536000" />
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="Content-Security-Policy" value="default-src 'self' https: data: 'unsafe-inline' 'unsafe-eval'" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Referrer-Policy" value="same-origin"/>
      </customHeaders>
      <redirectHeaders>
        <clear/>
      </redirectHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
