<div class="container">
  <div class="body_box">
    <div class="row-header card_container" *ngIf="allviewquestions[0]?.IsQuestionXMLExist">
      <div class="p-2 d-flex justify-content-between bd-highlight align-items-center col-md-12 al">
        <div class="bd-highlight col-md-6">
          {{'SetUp.Automatic.Total' | translate}}: {{this.allviewquestions.length}}
        </div>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row-header_bg mt-2">

          <div class="col-1 px-2"><strong>{{'SetUp.Automatic.Sl' | translate}}</strong> </div>
          <div class="col-5 px-2"><strong>{{'SetUp.Automatic.Questionlabel' | translate}}</strong></div>
          <div class="col-5"><strong>{{'SetUp.Automatic.QuestionType' | translate}}</strong></div>
          <div class="col-1"><strong>{{'SetUp.Automatic.MaxMarks' | translate}}</strong></div>

        </div>


        <div class="row-childrow_em card_box shimmer" *ngIf="automaticQuestionloading">
          <div class="d-flex align-items-center pt-2">
            <div class="col-1 "> <span> {{'SetUp.Automatic.Sl' | translate}} </span></div>
            <div class="col-5"><span>{{'SetUp.Automatic.QuestionCode' | translate}}</span></div>

            <div class="col-5">
              <span>{{'SetUp.Automatic.MultipleChoice' | translate}}</span>
            </div>

            <div class="col-1"><span>20</span></div>
          </div>
        </div>

        <div class="row-childrow_em card_box shimmer" *ngIf="automaticQuestionloading">
          <div class="d-flex align-items-center pt-2">
            <div class="col-1 "> <span> {{'SetUp.Automatic.Sl' | translate}}</span></div>
            <div class="col-5"><span> {{'SetUp.Automatic.QuestionCode' | translate}}</span></div>

            <div class="col-5">
              <span>{{'SetUp.Automatic.MultipleChoice' | translate}}</span>
            </div>

            <div class="col-1"><span>20</span></div>
          </div>
        </div>

        <div class="row-childrow_em card_box shimmer" *ngIf="automaticQuestionloading">
          <div class="d-flex align-items-center pt-2">
            <div class="col-1"> <span>  {{'SetUp.Automatic.Sl' | translate}} </span></div>
            <div class="col-5"><span> {{'SetUp.Automatic.QuestionCode' | translate}} </span></div>

            <div class="col-5">
              <span>{{'SetUp.Automatic.MultipleChoice' | translate}}</span>
            </div>

            <div class="col-1"><span>20</span></div>
          </div>
        </div>


        <div class="text-center mt-3 card_box nodatafound" *ngIf="allviewquestions?.length <= 0 && automaticQuestionloading==false">
          {{'SetUp.Automatic.NotFound' | translate}}
        </div>
        <div class="text-center mt-3 card_box nodatafound" *ngIf="!automaticQuestionloading && !allviewquestions[0]?.IsQuestionXMLExist && allviewquestions?.length > 0">
          <span class="note p-2 px-2">Note: {{'SetUp.Automatic.note' | translate}}</span>
        </div>

        <div *ngIf="automaticQuestionloading == false && allviewquestions[0]?.IsQuestionXMLExist">
          <mat-accordion>

            <div *ngFor="let objquestions of allviewquestions; let i = index;">
              <mat-expansion-panel [expanded]="ProjectQId == objquestions?.ProjectQuestionId" (opened)=" objquestions.panelOpenState = true;objquestions?.ProjectQuestionId;selectedoptionindex=0"
                (closed)="objquestions.panelOpenState = false">
                <mat-expansion-panel-header (click)="togglePanels(i);" title="{{( objquestions.panelOpenState == true  ? 'Collapse' : 'Expand') | translate }}">
                  <div class="row-childrow_em card_box " *ngIf="automaticQuestionloading == false">
                    <div class="d-flex align-items-center pt-2">

                      <div class="col-1 slno-lft"> {{i+1}}</div>
                      <div class="col-5">{{objquestions?.QuestionCode}}</div>
                      <div class="col-5 px-2" *ngIf="objquestions?.QuestionType==11">
                        {{
                        'SetUp.Automatic.MultipleChoice'
                        | translate
                        }}
                      </div>
                      <div class="col-5 px-2" *ngIf="objquestions?.QuestionType==85">
                        {{
                        'SetUp.Automatic.FIBDAD'
                        | translate
                        }}
                      </div>
                      <div class="col-5 px-2" *ngIf="objquestions?.QuestionType==12">
                        {{ 'SetUp.Automatic.MRS' | translate }}
                      </div>
                      <div class="col-5 px-2" *ngIf="objquestions?.QuestionType==156">
                        {{ 'SetUp.Automatic.MatchDL' | translate }}
                      </div>
                      <div class="col-5 px-2" *ngIf="objquestions?.QuestionType==16">
                        {{ 'SetUp.Automatic.Matrix' | translate }}
                      </div>
                      <div class="col-5 px-2" *ngIf=" objquestions?.QuestionType==92">
                        {{ 'SetUp.Automatic.ILDAD' | translate }}
                      </div>
                      <div class="col-1 px-4">
                        {{objquestions?.QuestionMarks}}
                      </div>

                    </div>
                  </div>
                </mat-expansion-panel-header>

                <div class="text-center mt-3 card_box nodatafound" *ngIf="objquestions?.QuestionText?.length <= 0  && automaticQuestionloading==false &&objquestions?.MatrixQuestions.QuestionText.length<=0">
                  {{
                  'SetUp.Automatic.Questiontexterror'
                  | translate
                  }}
                </div>

                <div *ngIf="objquestions?.QuestionText?.length>0 ">
                  <strong>

                    <div [innerHTML]="getTrustedHtml(objquestions?.QuestionText | highlight : objquestions?.guidoptionAreas[selectedoptionindex]?.QuestionGUID : 1)  "></div>

                    <div class="qnsmarks hide">
                      {{'SetUp.Automatic.TotalMarks' | translate}} : {{objquestions?.QuestionMarks}}
                    </div>
                  </strong>
                </div>
                <!-- src/app/matrix-question/matrix-question.component.html -->
                <br />
                <div *ngIf="objquestions?.ChoiceList[selectedoptionindex]?.Choices?.length>0 && objquestions?.QuestionType!=85&& objquestions?.QuestionType!=92&& objquestions?.QuestionType!=16&& objquestions?.QuestionType!=156">
                  <div d="block_container" *ngFor="let objchoices of objquestions?.ChoiceList[selectedoptionindex]?.Choices;">

                    <ul class="choice">
                      <li>
                        <div id="bloc1" class="numbers">{{objchoices?.ChoiceIdentifier}}.</div>
                        <div id="bloc2" [innerHTML]="objchoices?.OptionText"></div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div id="optionsArea" *ngIf="objquestions?.QuestionType==85||objquestions?.QuestionType==92">
                  <strong>
                    {{'SetUp.Automatic.OptionArea' | translate}} :
                  </strong>
                </div>

                <div id="dragableArea" class="OptionsArea" *ngIf="objquestions?.QuestionType==85||objquestions?.QuestionType==92">
                  <div class="optionDiv" *ngFor="let objoptions of objquestions?.optionAreas" title="{{'SetUp.Automatic.OptionHolder' | translate}} "
                       blankdiv="false">
                    <div class="divdrag ui-draggable ui-draggable-handle" title="{{'SetUp.Automatic.Choice' | translate}}" choiceholder="true" draggable="true">
                      <a style="color:#000000;text-decoration:none;display:block; text-align: center;" achoice="true">
                        <div [innerHTML]="objoptions?.OptionAreaName"></div>
                      </a>
                    </div>
                  </div>
                </div>


                <div class="text-center mt-3 card_box nodatafound" *ngIf="!objquestions.Isqigreset">
                  <span class="note p-2 px-2">{{'SetUp.Automatic.ResponseNotreceived' | translate}}</span>
                </div>

                <div class="mt-3 mb-2" *ngIf="objquestions?.ChoiceList[selectedoptionindex]?.Choices?.length>0">
                  <strong>{{'SetUp.Automatic.ResponseAnalysis' | translate}}</strong>
                </div>
                <div class="head_navigate_resp" *ngIf="objquestions?.ChoiceList?.length>1 && objquestions?.Isqigreset">
                  <div class="row">
                    <div class="col-no-sp">
                      <button [disabled]="selectedoptionindex==0" title="{{'SetUp.Automatic.Previous' | translate}}" (click)="selectedoptionindex=(selectedoptionindex)<= 0?0: selectedoptionindex-1"
                              type="button" class="btn m-0 theme_button d-flex align-items-center">
                        <span class="icon-arrow_back"></span>
                      </button>
                    </div>
                    <div class="col-md-10">
                      <div class="row align-items-center">

                        <div class="blank_box col-2 text-center">{{objquestions?.ChoiceList[selectedoptionindex]?.Blank}}</div>
                        <div class="col-6 statusresp">
                          <span class="icon icon-completed" *ngIf="objquestions?.QuestionType==16||objquestions?.QuestionType==156"></span>
                          <span>
                            {{'SetUp.Automatic.Question' | translate}}:
                          </span> &nbsp;
                          <span class="icon icon-completed"
                            *ngIf="objquestions?.QuestionType!=16&&objquestions?.QuestionType!=156"></span>
                          <span  *ngIf="objquestions?.QuestionType!=16 &&objquestions?.QuestionType!=156">
                            {{'SetUp.Automatic.CorrectAnswer' | translate}} :
                          </span> &nbsp;<strong>

                            <div
                              [innerHTML]="objquestions?.guidoptionAreas[selectedoptionindex]?.OptionAreaName.replace('<p>', '').replace('</p>','')">
                            </div>

                          </strong>
                        </div>

                      </div>

                    </div>

                    <div class="col">
                      <button [disabled]="selectedoptionindex==objquestions?.ChoiceList?.length-1" type="button"
                        title=" {{'SetUp.Automatic.Next' | translate}}"
                        (click)="selectedoptionindex=(selectedoptionindex)>=objquestions?.ChoiceList.length-1?objquestions?.ChoiceList?.length-1:(selectedoptionindex+1)"
                        class="btn theme_button d-flex align-items-center float-end mx-0">
                        <span class="icon-pointed_arrow"></span>
                      </button>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>


                <div class="Response_Analysis" *ngIf="objquestions?.ChoiceList[selectedoptionindex]?.Choices?.length>0">
                  <div class="row">

                    <div class="col-2">
                      <div class="cols">
                        <span>

                          {{'SetUp.Automatic.TotalNoofCandidates' | translate}}
                        </span>
                        <strong>
                          {{objquestions?.ChoiceList[selectedoptionindex]?.Choices[0].NoOfCandidates!=null?objquestions?.ChoiceList[selectedoptionindex]?.Choices[0].NoOfCandidates:0}}
                        </strong>
                      </div>

                    </div>

                    <div class="col-2"
                      *ngFor="let objchoices of objquestions?.ChoiceList[selectedoptionindex]?.Choices;">

                      <div *ngIf="objchoices?.IsCorrectAnswer">
                        <div class="cols">
                          <div [innerHTML]="objchoices?.OptionText">

                          </div>

                          <div class="progress"
                            *ngIf="objquestions?.QuestionType!=12 && objquestions?.QuestionType!=16&&objquestions?.QuestionType!=156">
                            <div class="bar correct" [style.width.%]="[objchoices?.PerDistribution]">
                            </div>
                          </div>

                          <div class="d-flex align-items-center justify-content-between">
                            <strong
                              *ngIf="objquestions?.QuestionType!=12 && objquestions?.QuestionType!=16&&objquestions?.QuestionType!=156">{{objchoices?.PerDistribution}}%</strong>

                            <div class="user_count_semi">
                              <span class="icon-users" title=" {{objchoices?.NoOfCandidatesAnswered}}"></span>
                              {{objchoices?.NoOfCandidatesAnswered}}
                            </div>

                          </div>
                        </div>
                        <div class="que_status_sem">
                          <span class="icon-completed"></span>
                          {{'SetUp.Automatic.CorrectAnswers' | translate}}
                        </div>
                      </div>

                      <div *ngIf="!objchoices?.IsCorrectAnswer">
                        <div class="cols">
                          <div [innerHTML]="objchoices?.OptionText">
                          </div>

                          <div class="progress"
                            *ngIf="objquestions?.QuestionType!=12 && objquestions.QuestionType!=16 && objquestions.QuestionType!=156">
                            <div class="bar incorrect" [style.width.%]="[objchoices?.PerDistribution]">
                            </div>
                          </div>

                          <div class="d-flex align-items-center justify-content-between">
                            <strong
                              *ngIf="objquestions?.QuestionType!=12 && objquestions.QuestionType!=16 && objquestions.QuestionType!=156">
                              {{objchoices?.PerDistribution}}%</strong>

                            <div class="user_count_semi">
                              <span class="icon-users" title="{{objchoices?.NoOfCandidatesAnswered}}"></span>
                              {{objchoices?.NoOfCandidatesAnswered}}
                            </div>

                          </div>
                        </div>
                        <div class="que_status_sem">
                          <div class="d-in-flex">
                            <div>
                              <span class="icon-close-1"></span>
                            </div>
                            <div class="mt5">
                              <span>
                                {{
                                'SetUp.Automatic.InCorrectAnswers'
                                | translate
                                }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-2">
                      <div
                        *ngIf="objquestions?.ChoiceList[selectedoptionindex]?.NotResponsded?.NoOfCandidatesNotAnswered>0">
                        <div class="cols">
                          <div [innerHTML]="objquestions?.ChoiceList[selectedoptionindex]?.NotResponsded?.NoOptionText">
                          </div>

                          <div class="progress"
                            *ngIf="objquestions?.QuestionType!=12 && objquestions?.QuestionType!=16&&objquestions?.QuestionType!=156">
                            <div class="bar Notrespondedincorrect"
                              [style.width.%]="[objquestions?.ChoiceList[selectedoptionindex]?.NotResponsded?.NoresponsePerDistribution]">
                            </div>
                          </div>

                          <div class="d-flex align-items-center justify-content-between">
                            <strong>{{objquestions?.ChoiceList[selectedoptionindex]?.NotResponsded?.NoresponsePerDistribution}}%</strong>
                            <div class="user_count_semi">
                              <span class="icon-users" title="{{objchoices?.NoOfCandidatesAnswered}}"></span>
                              {{objquestions?.ChoiceList[selectedoptionindex]?.NotResponsded?.NoOfCandidatesNotAnswered}}
                            </div>
                          </div>
                        </div>
                        <div class="que_status_sem">
                          <div class="d-in-flex">
                            <div>
                              <span class=""></span>
                            </div>
                            <div class="mt5">
                              <span>
                                {{
                                'SetUp.Automatic.Notresponed'
                                | translate
                                }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="(objquestions?.QuestionType==11 || objquestions?.QuestionType==12 ) && objquestions?.ChoiceList[selectedoptionindex]?.Choices?.length>0">
                  <button *ngIf="(objquestions?.QuestionType==11 )" type="button" class="btn theme_button d-flex align-items-center float-right mt-3" title="{{objquestions?.GlobalMarkingType==true
                                  ? 'Re-Moderate'
                                  : 'Moderate'}}" (click)="clickModeratescore(objquestions?.ProjectQuestionId);">
                    <span class="icon-edit"></span>
                    <!-- {{'SetUp.Automatic.ReviseMarkScheme' | translate}} -->

                    {{
                    objquestions?.GlobalMarkingType==true
                    ? "Re-Moderate"
                    : "Moderate"
                    }}

                  </button>

                  <button *ngIf="(objquestions?.QuestionType==11 || objquestions?.QuestionType == 12 )" 
                    title=" {{ 'SetUp.Automatic.Stimulus' | translate }}"
                    class="btn theme_button align-items-center float-start mt-3" (click)="ViewStimulus(objquestions)"
                    data-bs-toggle="modal" data-bs-target="#viewStimu" [disabled]="!objquestions.PassageId">
                    <span class="icon-view_items"></span>{{ 'SetUp.Automatic.Stimulus' | translate }}
                  </button>

                </div>

              </mat-expansion-panel>
            </div>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="viewStimu" tabindex="-1" aria-labelledby="viewStimu" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <div class="model_cust_head">
            <h5 class="modal-title" id="viewStimu">
              {{ 'SetUp.Automatic.Passage' | translate }}
            </h5>
            <button type="button" class="btn-close custom_close" data-bs-dismiss="modal"
              aria-label="Close" title="Close"></button>
          </div>
          <div id="divstimulus"></div>
        </div>
      </div>
    </div>
  </div>

</div>
