<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
    <!-- PACKAGE PATHS CONFIGURATION -->
    <add key="PackageFolder" value="D:\DistributedRepositories\DX\Packages\"/>
    <add key="TemporaryFolder" value="D:\DistributedRepositories_DX\Packages\"/>
    <!-- PACKAGE PATHS CONFIGURATION -->
    <!-- LOG CONFIGURATION -->
    <add key="LogRequired" value="false"/>
    <!-- "database", "filesystem" -->
    <add key="LogTo" value="filesystem"/>
    <add key="LogFilePath" value="D:\Share\PublishedCopy\log\Log.txt"/>
    <!-- LOG CONFIGURATION -->
    <!-- DATABASE CONFIGURATION -->
    <add key="connectionString" value="kCOAKeQPZpSNPJYzbF1UsXwZQD9gPzPs8MA/+skwWaD2GVNSP9JGKJnbdJjYxx++Cs4QZ8+M0pi/QXFIuesqf1nzlNLiNjPOZUcFpa4W8lmQyw0ZE2Y3YMx0c4fN3LkP"/>
    <add key="DataEncryptionKey" value="K+iCU4H+AtV4uy0+Skmo8w=="/>
    <!--   <add key="connectionString" value="un2JBv7FlfdAX1ocKZpI4l8RbW5Y68a4PSpS0vPZZWC5LpPNjx1zM+cs0q6BF+FcDUp7GUOFlW0SCaXY3gw04Mvo0I2C9sD0D/hqERkQNWlJatMvsxKO84pX+5xp+jyANAwXNQTYIqkpLygMr4mcfg=="/> -->
    <!--  <add key="connectionString" value="H4m0MbTZhEQGyqNEU93cWxJjGNWk4PE0EXr1mcq/6I12R83JQqbU2jmTK31BWG0Q5/MgWsXeoGoHomnimHxuf8BUJbnM4TG2xNbq68HboDe3vC687YbyW0U97sSQURXp"/> -->
    <!-- DATABASE CONFIGURATION -->
    <!-- APPLICATION IDENTIFIER
      CoE: "GeneratePackageInCoE", "UploadQPackFromCoEToDX",
      DX : "DataExchangeServer"
      TC : "DownloadQpackFromDXToTC", "LoadQPackInTC", "GenerateRPackInTC", "UploadRPackFromTCToDX",
      DCD: "DownloadDistributedPackagesFromDXToDCD", "LoadDistributedQPackToDCD", "LoadDistributedRPackToDCD"
      DCC: "DownloadCentralizedQPacksFromDXToDCC", "LoadCentralizededQPackToDCC", "DownloadDistributedPackagesFromDXToDCC", "LoadDistributedQPackToDCC", "LoadDistributedRPackToDCC"
    -->
    <add key="ApplicationIdentifier" value="DataExchangeServer"/>
    <add key="SynchronizeScript" value=""/>
    <add key="SSLKey" value="rkeakkx6S8PHZeKfML8kyg=="/>
    <add key="SSLPassword" value="v4QuIWc3HHt3xJqKKNHoIg=="/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <identity impersonate="false" userName="saras" password="setup"/>
    <sessionState timeout="90"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILicensingAndTransfer" maxBufferSize="99999999" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="99999999"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="SecureBinding" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SarasInterMediateAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="LicensingAndTransfer.ServiceImplementation.LicensingAndTransfer_Behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="99999999"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Framework_L-T_SecurityBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="LicensingAndTransfer.ServiceImplementation.UserNamePasswordValidator, LicensingAndTransfer.ServiceImplementation"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--<service behaviorConfiguration="LicensingAndTransfer.ServiceImplementation.LicensingAndTransfer_Behavior"
        name="LicensingAndTransfer.ServiceImplementation.LicensingAndTransfer">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicensingAndTransfer"
          name="BasicHttpBinding_ILicensingAndTransfer" bindingNamespace="http://LicensingAndTransfer.ServiceContracts/2010/01"
          contract="LicensingAndTransfer.ServiceContracts.ILicensingAndTransfer" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicensingAndTransfer"
          name="BasicHttpBinding_IAttendance" bindingNamespace="http://LicensingAndTransfer.ServiceContracts/2010/01"
          contract="LicensingAndTransfer.ServiceContracts.IAttendance" />-->
      <service behaviorConfiguration="Framework_L-T_SecurityBehavior" name="LicensingAndTransfer.ServiceImplementation.LicensingAndTransfer">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SecureBinding" name="BasicHttpBinding_ILicensingAndTransfer" bindingNamespace="http://LicensingAndTransfer.ServiceContracts/2010/01" contract="LicensingAndTransfer.ServiceContracts.ILicensingAndTransfer"/>
        <endpoint binding="wsHttpBinding" bindingConfiguration="SecureBinding" name="BasicHttpBinding_IAttendance" bindingNamespace="http://LicensingAndTransfer.ServiceContracts/2010/01" contract="LicensingAndTransfer.ServiceContracts.IAttendance"/>
      </service>
      <!--<service name="SarasInterMediate">
        <endpoint address="" behaviorConfiguration="SarasInterMediateAspNetAjaxBehavior"
          binding="webHttpBinding" contract="SarasInterMediate" />
      </service>-->
    </services>
  </system.serviceModel>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log\log.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd-HH"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="3MB"/>
      <!--Normal COnfiguration For Test Type-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" T: %d |L: %p |MSG: %m %n"/>
      </layout>
      <!--XML Layout-->
      <!--<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>-->
    </appender>
    <appender name="SMTPMail" type="log4net.Appender.SmtpAppender">
      <to value=""/>
      <from value="prashanthshivanna@excelindia.com"/>
      <subject value="SarasLog4Net Errors [Report-Interface] : Development Server "/>
      <smtpHost value="192.168.1.32"/>
      <bufferSize value="1"/>
      <!-- 512, 1024 -->
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" T: %d |L: %p |TH: %t |L: %c{2} |MSG: %m %n"/>
      </layout>
    </appender>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <param name="BufferSize" value="1"/>
      <param name="ConnectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.1.4322.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <param name="ConnectionString" value="Server=.\SQL2008;Database=TestCenterLite;UID=sa;PWD=sa123;Pooling=true"/>
      <param name="CommandText" value="INSERT INTO Log4NetLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[SessionID],[NodeID],[UserID],[ProjectName]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,@SessionId,'QPack-Transfer',@UserID,'Crons')"/>
      <param name="Parameter">
        <param name="ParameterName" value="@log_date"/>
        <param name="DbType" value="DateTime"/>
        <param name="Layout" type="log4net.Layout.RawTimeStampLayout"/>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@thread"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="255"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%t"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@log_level"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="50"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%p"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@logger"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="255"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%c"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@message"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="4000"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%m"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@exception"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="4000"/>
        <param name="Layout" type="log4net.Layout.ExceptionLayout"/>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@SessionID"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="40"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="conversionPattern" value="%X{SessionID}"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@NodeID"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="50"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="conversionPattern" value="%X{NodeID}"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@UserID"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="50"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="conversionPattern" value="%X{UserID}"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@ProjectName"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="50"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="conversionPattern" value="%X{ProjectName}"/>
        </param>
      </param>
    </appender>
    <root>
      <level value="ERROR"/>
      <!-- ALL - DEBUG - INFO - WARN - ERROR - FATAL - OFF -->
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="ADONetAppender"/>
      <appender-ref ref="SMTPMail"/>
    </root>
  </log4net>
</configuration>