<div class="container">

    <div class="col-md-12 bd-highlight mt-2">


        <div class="d-flex justify-content-between mb-1">
            <h3 class="mb-3">{{'question.ques' | translate}}</h3>
            <button type="button" class="btn-close" title="{{'shared.close' | translate}}" (click)="closeeditor()" tabindex="-1">
            </button>
        </div>
     


        <div class="clear"></div>

        <div class="project_summary">
           <div class="view_selected">
                <div class="row">
                    <div class="col-6 d-flex mb-2 justify-content-start align-items-center">
                        <div class="text_delux">
                            <span>{{'question.Tot' | translate}}: {{questionlength}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-header_bg">
                <div class="col-4 fontbold"> {{'question.qeslb' | translate}} </div>
                <div class="col-2 fontbold">{{'question.mxscr' | translate}} </div>
                <div class="col-2 fontbold"> {{'question.istg' | translate}}</div>
                <div class="col-2 fontbold"> Mark Scheme</div>
            </div>
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10" [scrollWindow]="false"
                (scrolled)="onScrollDown($event)">
                <div class="row-childrow card_box" *ngFor="let values of Question">
                    <div class="col-4">{{values.QuestionCode}}</div>
                    <div class="col-2">{{values.MaxMark}}</div>
                    <div class="col-2">
                        <div class="bd-highlight col-md-2 marauto text-center"> <span class="icon-complete"
                                [ngClass]="{'marked' : values.IsTagged != false, 'nonmarked' : values.IsTagged != true}"></span>
                        </div>
                    </div>
                    <div class="col-2  ">{{values.SchemeName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
