.login_err {
  margin-left: -9px;
  color: red;
  padding-top: 3px;
}

.mat-form-field {
  margin-bottom: 15px;
}

.defult_err {
  font-size: 14px;
  color: red;
}

::ng-deep .mat-form-field-label {
  color: #000 !important;
}

::ng-deep .mat-form-field-subscript-wrapper {
  position: relative !important;
}

.uppercase {
  text-transform: uppercase;
}
.mat-dialog-content {
  max-height: none !important;
  display: contents;
}
.curdefault {
  cursor: default !important;
}