<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="saras.scheduler" type="Saras.SystemFramework.Core.Configuration.SchedulerSettings, Saras.SystemFramework.Core"/>
		<section name="saras.connectionstrings" type="Saras.SystemFramework.Core.Configuration.SarasConnectionStringsSection, Saras.SystemFramework.Core"/>
	</configSections>
	<saras.connectionstrings externalConfigSource="saras.connectionstrings.config"/>
	<saras.scheduler>
		<settings connStringName="SchedulerDB" tablePrefix="Quartz.QRTZ_" idleWaitTime="10000" dbFailureRetryCount="10000" isClustered="true" threadCount="10" misfireThreshold="10000" accountType="0" serviceName="LMS_Scheduler_Service" serviceStartMaxRetries="3" insertJobs="true" intialJobFilePath="\Jobdata\Jobs.xml"/>

		<jobs>
		</jobs>
		<reminderjobs>
		</reminderjobs>
	</saras.scheduler>
	<connectionStrings>
		<clear/>
		<!--<add name="SchedulerDB" connectionString="Server=MOE-DB\SQL2019;Database=RC_Scheduler;UID=SEABCorpUser;PWD=S3ab$user;Pooling=true;Max Pool Size=200"/>-->
		<add name="SchedulerDB" connectionString="Data Source=MOE-DB\SQL2019;Initial Catalog=MOE_SEAB_Emarking;User ID=SEABUser;Password=SEABU$3r;Integrated Security=False;Trusted_Connection=False;MultipleActiveResultSets=true;Persist Security Info=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="UserSyncApiUrl" value="http://localhost/LicensingAndTransferAPI/"/>
		<add key="MarkingOutboundApiUrl" value="https://localhost:7189/api/reports/report-sync"/>
		<add key="ReportsRootFolder" value="D:\MOE-eMarking\Service\Saras.eMarking.RCScheduler\Saras.eMarking.RCScheduler.Server\ReportsFile\"/>
		<add key="TimeZoneName" value="Singapore Standard Time"/>
		<add key="JobTrackingLogType" value="0"/><!--0 : Disabled , 1 : logger, 2 : DB log , 3 : logger and DB log -->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
