<div class="container">
  <div class="body_box">
    <emarking-qig-tab [OnlyIsKpTab]="true" (selectQigEvent)="getQigDetails($event)">
    </emarking-qig-tab>
    <div class="row mt-2" *ngIf="Issummaryloading" [class.shimmer]="Issummaryloading"
      [ngClass]="{'hide' : activeQig?.QigId <= 0 }">
      <div class="col-md-4 col-xs-12">
        <div class="card_box project_summary">
          <span class="mb-auto">Std.recommend.target : </span><strong>Total</strong>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card_box project_summary">
          <span class="mb-auto">
            Std.recommend.recommend :
          </span><strong>Recomend</strong>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card_box project_summary">
          <span class="mb-auto">Std.recommend.Rbyme : </span><strong>Recomend</strong>
        </div>
      </div>
    </div>

    <div class="row mt-2" *ngIf="IsS1Required && !Issummaryloading" [ngClass]="{'hide' : activeQig?.QigId <= 0 }">
      <div class="col-md-4 col-xs-12">
        <div class="card_box project_summary">
          <span class="mb-auto">
            {{
            'Std.recommend.target'
            |translate
            }}
          </span> : <strong>{{RecomendationCounts?.TotalTargetRecomendations}}</strong>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card_box project_summary">
          <span class="mb-auto">
            {{'Std.recommend.recommend' |translate}}
          </span> : <strong>{{RecomendationCounts?.TotalRecomended}}</strong>
          <div class="target_cont"
            *ngIf="RecomendationCounts?.TotalRecomended >= RecomendationCounts?.TotalTargetRecomendations && RecomendationCounts?.TotalRecomended > 0"
            role="alert">
            Target recommendations reached
          </div>

        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card_box project_summary">
          <span class="mb-auto">
            {{
            'Std.recommend.Rbyme' |
            translate
            }}
          </span> : <strong>{{RecomendationCounts?.TotalRecomendedByMe}}</strong>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="search_dash mt-1 m-0 col-4">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput title="Search" placeholder="Search by Script ID" [(ngModel)]="ScriptSearchValue"
              (keyup.enter)="SearchScript()" ngDefaultControl autocomplete="off" oncut="return false"
              onDrop="return false">
            <mat-icon matSuffix title=""><span title="Search" class="icon-search"
                (click)="SearchScript()"></span></mat-icon>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end mb-2">
          <div class="bd-highlight btnovride mat-button">
            <button class="btn filter filter_btn" title="{{'General.Filter' | translate}}" mat-button *ngIf="isAo()"
              [matMenuTriggerFor]="beforeMenu" [disabled]="Examlst?.length == 0">
              <span class="icon-filter"></span>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before" class="filter_drd">
              <div class="filter_content" *ngFor="let recomQigScript of Examlst">
                <mat-checkbox #centerids [checked]="recomQigScript?.IscenterSelected"
                  value="{{recomQigScript?.CenterID}}" [(ngModel)]="recomQigScript.IscenterSelected"
                  class="example-margin" [value]="recomQigScript.CenterID" (click)="$event.stopPropagation();"
                  (change)="IsCheckedExamcenter($event, recomQigScript)"></mat-checkbox>
                {{recomQigScript?.CenterName}}
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn theme_button" (click)="Filter()" title="{{'Std.recommend.filter' | translate}}">
                  {{'Std.recommend.filter' | translate}}
                </button>
                <button class="btn theme_button" type="button" title="{{'Std.recommend.clear' | translate}}"
                  (click)="ClearFilter();$event.stopPropagation()">{{'Std.recommend.clear' | translate}}</button>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!IsS1Required" [ngClass]="{'hide' : activeQig?.QigId <= 0 }">
      <div class="col-md-12 bd-highligh">
        <div class="card_box" role="alert" ngDefaultControl>
          <div class="no_std_req">
            <strong class="icon-info-1"></strong>
            <span>{{'Std.SetUp.IsS1Req' | translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row-header card_container" *ngIf="IsS1Required " [class.shimmer]="Isscriptloading"
      [ngClass]="{'hide' : activeQig?.QigId <= 0 }">
      <div class="p-2 d-flex justify-content-between bd-highlight align-items-center col-md-12 al">
        <div class="bd-highlight col-md-3"> <strong>{{'Std.recommend.id' | translate}}</strong></div>
        <div class="bd-highlight col-md-3" *ngIf="isAo()"> <strong>{{'Std.recommend.examcentername' | translate}}</strong></div>
        <div class="bd-highlight col-md-3" *ngIf="isAoCM()"><strong>
            {{
            'Std.recommend.by' |
            translate
            }}</strong>
        </div>
        <div class="bd-highlight col-md-3 d-flex justify-content-between"></div>
      </div>
    </div>

    <div class="container_box" *ngIf="IsS1Required && !IsConfigurationCompeleted">
      <div class="row-childrow" *ngFor="let recomQigScript of RecomQIGScripts">
        <div class="p-2 d-flex justify-content-between bd-highlight col-md-12 pad10">

          <div class="bd-highlight col-md-3 marauto" [class.shimmer]="Isscriptloading">
            <span *ngIf="Isscriptloading">ScriptName</span>
            <span [class.shimmer]="Isscriptloading || Issummaryloading"> {{recomQigScript?.ScriptName}}</span>
          </div>
          <div class="bd-highlight col-md-3 marauto" [class.shimmer]="Isscriptloading" *ngIf="isAo()">
            <span *ngIf="Isscriptloading">{{'Std.recommend.examcentername' | translate}}</span>
            <span [class.shimmer]="Isscriptloading || Issummaryloading">{{recomQigScript?.CenterName}}</span>
          </div>
          <div class="bd-highlight col-md-3 marauto" *ngIf="isAoCM()" [class.shimmer]="Isscriptloading">
            <span *ngIf="Isscriptloading">ScriptName</span>
            <span [class.shimmer]="Isscriptloading || Issummaryloading">{{recomQigScript?.RecommendedBy}}</span>
          </div>

          <div class="bd-highlight col-md-3">

            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn theme_button d-flex align-items-center float-end"
                  [class.shimmer]="Isscriptloading || Issummaryloading" title="{{getrecbtnTitle(recomQigScript)}}"
                  (click)="recommendscript({ScriptId: recomQigScript?.ScriptID, ScriptName:recomQigScript?.ScriptName, QigId:activeQig?.QigId, QigName:activeQig?.QigName, IsViewMode: true })">
                  {{ getrecbtnTitle(recomQigScript)}}
                </button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn theme_button d-flex align-items-center float-end"
                  [class.shimmer]="Isscriptloading || Issummaryloading" [disabled]="qigpause"
                  *ngIf="((recomQigScript.WorkFlowStatusCode == 'RCMMED' && recomQigScript.IsRecommendedByMe && s1closure == false) || (recomQigScript.WorkFlowStatusCode != 'CTGRTN' && (recomQigScript.RoleCode == 'AO' || recomQigScript.RoleCode == 'CM') && recomQigScript.IsRecommended && s1closure == false))"
                  title="{{'Std.recommend.Unrcmnded' | translate }}"
                  (click)="UnrecommendationScript(recomQigScript?.ScriptID)">
                  {{ 'Std.recommend.Unrcmnded' | translate }}
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card_box nodatafound" [class.shimmer]="Isscriptloading || Issummaryloading"
        *ngIf="RecomQIGScripts?.length == 0 && IsS1Required && !Isscriptloading && RecomendationCounts?.TotalTargetRecomendations > 0">
        {{'General.NotFound' | translate}}
      </div>
    </div>
    <div *ngIf="RecomQIGScripts?.length >= 0 && RecomendationCounts?.TotalTargetRecomendations == 0 && IsS1Required"
      class="card_box nodatafound" [class.shimmer]="Isscriptloading || Issummaryloading">
      <strong>
        {{'Std.recommend.StdsetupNtcmptld' | translate}}
      </strong>
    </div>
  </div>
</div>