.newroll {
  line-height: 30px;
}

.newroll ol {
  padding: 2px 14px;
}

.download_btn {
  border: 1px dashed #000;
  padding: 3px;
  margin: 1px 0px;
  color: var(--theme-dark);
  font-size: 18px;
  width: 180px;
  text-align: center;
}

.matspinnercenter
{
    margin: 0 auto;
}

.heading {
  font-size: 20px
}
.error_txt
{
  color: red;
}

.scroll_roles{ height: 400px;}

.row-header_bg {
  font-weight: bold;
}