.slno-lft
{
    width: 2%;
    font-weight: bold;
}
.numbers {
    padding-left: 3px;
}
input[type=checkbox] {
   margin-bottom: 5px;
  }
.candidatindex {
    width: 20%;
    /* background: white; */
    background-color: white;
    height: 29px;
    text-align: center;
    border: 1px solid;
    margin-top: 10px;
    padding-top: 4px;
}
::ng-deep .blankDiv {
    cursor: move;
    border: 2px solid #bebebe;
    opacity: 0.8;
    padding: 2px 0 2px 6px;
    margin: 0 4px;
    text-align: center;
    min-height: 20px;
    min-width: 150px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 3px;
    vertical-align: middle;
}
::ng-deep .txtarea
{
    border: solid 1px #ccc;
    background: white;
}

.table_question{
background: #fff;
width:100%;
border: 1px solid #efebeb;
margin-bottom: 20px;
}

.table_question td{
    padding: 5px 10px;
    
}
.styled-table {
  border-collapse: collapse; /* Ensures borders are merged */
  width: 100%; /* Makes sure the table takes up the full width */
}

.styled-table th,
.styled-table td {
  border: 1px solid #000; /* Adds border to table cells */
  padding: 8px; /* Adds padding inside table cells */
  text-align: left; /* Aligns text to the left */
}

.styled-table th {
  background-color: #f2f2f2; /* Adds a background color to table headers */
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Adds a background color to even rows */
}
.container {
  padding: 20px;
}

.matrix-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.matrix-content {
  display: flex;
}

.matrix-rows {
  flex: 1;
  display: flex;
  flex-direction: column;
}

::ng-deep .matching-container {
  display: flex;
  flex-direction: column;
}

::ng-deep .question-text {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

::ng-deep .matching-content {
  display: flex;
  justify-content: space-between;
}

::ng-deep .matching-left,
::ng-deep .matching-right {
  width: 45%;
}

::ng-deep .matching-left {
  border-right: 2px solid #ddd;
  padding-right: 10px;
}

::ng-deep .matching-right {
  padding-left: 10px;
}

::ng-deep .matching-row,
::ng-deep .matching-column {
  padding: 10px;
  border: 1px solid #7b64e4;
  margin-bottom: 5px;
}

::ng-deep .matching-row:hover,
::ng-deep .matching-column:hover {
  background-color: #e0e0e0;
}
::ng-deep .styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: small;
}

::ng-deep.styled-table th, .styled-table td {
  padding: 10px;
  border: 1px solid #f7e6e6;
}

::ng-deep.styled-table th {
  background-color: #f4f4f4;
}

::ng-deep .styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-table td {
  text-align: center;
}
