<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpRuntime enableVersionHeader="false" maxRequestLength="999999999" executionTimeout="220000" encoderType="System.Web.Security.AntiXss.AntiXssEncoder" requestValidationMode="4.5" />
		<pages validateRequest="true" enableEventValidation="true" enableViewStateMac="true" maintainScrollPositionOnPostBack="false" viewStateEncryptionMode="Always">
		</pages>		
		<httpCookies httpOnlyCookies="true" requireSSL="false"/>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering removeServerHeader="true">
				<requestLimits maxAllowedContentLength="30000000"/>
				<!--<verbs allowUnlisted="true">
					<add verb="OPTIONS" allowed="false"/>
				</verbs>-->
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="Server"/>
				<remove name="X-Powered-By"/>
				<remove name="X-AspNet-Version"/>
				<remove name="X-AspNetMvc-Version"/>
				<remove name="Access-Control-Allow-Origin" />
				<clear/>
				<add name="Access-Control-Allow-Origin" value="https://slsweb.excelindia.com" />
				<add name="Pragma" value="no-cache"/>
				<add name="X-Frame-Options" value="SAMEORIGIN"/>
				<add name="X-XSS-Protection" value="1; mode=block"/>
				<add name="Content-Security-Policy" value="default-src 'self' https: data: 'unsafe-inline' 'unsafe-eval'" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
				<add name="X-Content-Type-Options" value="nosniff"/>
				<add name="Referrer-Policy" value="same-origin"/>
			</customHeaders>
			<redirectHeaders>
				<clear/>
			</redirectHeaders>
		</httpProtocol>
	</system.webServer>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<validation validateIntegratedModeConfiguration="false" />
			<modules runAllManagedModulesForAllRequests="true">
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<remove name="WebDAV" />
			</handlers>
			<aspNetCore processPath=".\Saras.eMarking.Api.exe" stdoutLogEnabled="false"
						stdoutLogFile=".\logs\stdout" hostingModel="inprocess" >
				<handlerSettings>
					<handlerSetting name="debugFile" value=".\logs\aspnetcore-debug.log" />
					<handlerSetting name="debugLevel" value="FILE" />
				</handlerSettings>
				<environmentVariables>
					<!--<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />-->
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
		<system.web.extensions>
			<scripting>
				<webServices>
					<!-- Uncomment this line to customize maxJsonLength and add a  custom converter -->
					<jsonSerialization maxJsonLength="2147483647">
						<converters>
						</converters>
					</jsonSerialization>
				</webServices>
				<scriptResourceHandler enableCompression="true"  enableCaching="true" />
			</scripting>
		</system.web.extensions>
	</location>

</configuration>