<div class="d-flex mlr-0 justify-content-evenly">
    <div class="col-sm col-md-6 pl0">
        <div class="left_graphic"></div>
    </div>
    <div class="col-sm col-md-6">
        <div class="logincard" *ngIf="!status">
            <div class="login_system">


                <h2>{{'Login.Title' | translate}}</h2>
                <h3 class="del_col">{{'Login.ForgotPassword' | translate}}</h3>

                <form autocomplete="new-password" class="form-signin" [formGroup]="ForgotpwdsigninForm"
                    #formDirective="ngForm" (ngSubmit)="ForgotPassword(ForgotpwdsigninForm,formDirective)">

                    <mat-form-field appearance="outline" class="w-100">

                        <mat-label>{{'Login.EmailLabel' | translate}}</mat-label>

                        <input type="text" id="loginname" name="loginname" oncut="return false" onDrop="return false"
                            onPaste="return false" matInput placeholder="{{'Login.LoginPlaceHolder' | translate}}"
                            formControlName="loginname" autofocus autocomplete="new-password">
                        <mat-error *ngIf="ForgotpwdsigninForm.get('loginname')?.errors">
                            <mat-error *ngIf="ForgotpwdsigninForm.get('loginname').errors.required"
                                class="login_err">{{'Login.loginerrormessage'
                                | translate}}</mat-error>
                        </mat-error>
                    </mat-form-field>


                    <div class="form_build">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Login.nriclable' | translate}}</mat-label>

                            <input id="nric" name="nric" autocomplete="new-password" oncut="return false"
                                onDrop="return false" onPaste="return false" matInput placeholder="{{'Login.EnterNRIC'
                                | translate}}"
                                type="text" formControlName="nric" [type]="show_eyeNric ? 'password' : 'text'"
                                maxlength="4">

                            <mat-error *ngIf="ForgotpwdsigninForm.get('nric')?.errors">
                                <mat-error *ngIf="ForgotpwdsigninForm.get('nric').errors.required"
                                    class="login_err">{{'Login.nricrequired'
                                    | translate}}</mat-error>

                                <mat-error *ngIf="ForgotpwdsigninForm.get('nric').errors?.cannotContainSpace"
                                    class="login_err">
                                    {{'Login.nricwhitespaceerror' | translate}}</mat-error>

                            </mat-error>

                        </mat-form-field>

                        <span class="eye_icon" (click)="show_eyeNric = !show_eyeNric"
                            [class]="!show_eyeNric ? 'icon-show' : 'icon-hide'"
                            [title]="show_eyeNric?'Show':'hide'"></span>
                    </div>

                    <div class="form_build">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Login.NewPassword' | translate}}</mat-label>

                            <input id="fnewpassword" name="fnewpassword" autocomplete="new-password"
                                oncut="return false" onDrop="return false" onPaste="return false" matInput
                                placeholder="{{'Login.EnterNewPassword'
                                | translate}}" type="password" formControlName="fnewpassword"
                                [type]="show_eyenewPassword ? 'password' : 'text'" maxlength="50">

                            <mat-error *ngIf="ForgotpwdsigninForm.get('fnewpassword')?.errors">

                                <mat-error *ngIf="ForgotpwdsigninForm.get('fnewpassword').errors.required"
                                    class="login_err">{{'Login.newpasswordrequired'
                                    | translate}}</mat-error>

                                <mat-error *ngIf="ForgotpwdsigninForm.get('fnewpassword').hasError('passwordStrength')"
                                    class="login_err">{{'Login.patternerror' | translate}}</mat-error>
                                <mat-error
                                    *ngIf="ForgotpwdsigninForm.get('fnewpassword').hasError('passwordStrengthlength')"
                                    class="login_err">
                                    {{'Login.passwordlengtherror' | translate}}</mat-error>

                                <mat-error *ngIf="ForgotpwdsigninForm.get('fnewpassword').errors?.cannotContainSpace"
                                    class="login_err">
                                    {{'Login.passwordwhitespaceerror' | translate}}</mat-error>
                            </mat-error>

                        </mat-form-field>

                        <span class="eye_icon" (click)="show_eyenewPassword = !show_eyenewPassword"
                            [class]="!show_eyenewPassword ? 'icon-show' : 'icon-hide'"
                            [title]="show_eyenewPassword?'Show':'hide'"></span>
                    </div>
                    <div class="form_build">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Login.ConfirmPassword' | translate}}</mat-label>

                            <input autocomplete="new-password" name="fcnfnewpassword" id="fcnfnewpassword"
                                oncut="return false" onDrop="return false" onPaste="return false" matInput
                                placeholder="{{'Login.EnterConfirmNewPassword' | translate}}" type="password"
                                formControlName="fcnfnewpassword"
                                [type]="show_eyeconfirmNewPassword ? 'password' : 'text'" maxlength="50">

                            <mat-error *ngIf="ForgotpwdsigninForm.get('fcnfnewpassword')?.errors">

                                <mat-error *ngIf="ForgotpwdsigninForm.get('fcnfnewpassword').errors.required"
                                    class="login_err">{{'Login.confirmpassowrdrequired'
                                    | translate}}</mat-error>

                                <mat-error
                                    *ngIf="ForgotpwdsigninForm.get('fcnfnewpassword')?.errors?.confirmPasswordValidator"
                                    class="login_err">
                                    {{'Login.confirmandnewpasswordmatcherror' | translate}}</mat-error>

                                <mat-error
                                    *ngIf="ForgotpwdsigninForm.get('fcnfnewpassword').hasError('passwordStrength')"
                                    class="login_err">{{'Login.Minimum' | translate}}
                                    {{'Login.patternerror' | translate}}</mat-error>
                                <mat-error *ngIf="ForgotpwdsigninForm.get('fcnfnewpassword').errors?.cannotContainSpace"
                                    class="login_err">
                                    {{'Login.passwordwhitespaceerror' | translate}}</mat-error>
                            </mat-error>

                        </mat-form-field>

                        <span class="eye_icon" (click)="show_eyeconfirmNewPassword = !show_eyeconfirmNewPassword"
                            [class]="!show_eyeconfirmNewPassword ? 'icon-show' : 'icon-hide'"
                            [title]="show_eyeconfirmNewPassword?'Show':'hide'"></span>

                    </div>

                    <div class="form_build" [hidden]="!IsCaptchaEnabled">
                        <mat-form-field appearance="outline" class="w-50 float-start">
                            <mat-label>{{'Login.CaptchaText' | translate}}</mat-label>
                            <input name="Capture" id="Capture" oncut="return false" onDrop="return false"
                                onPaste="return false" matInput placeholder="{{'Login.CaptchaText' | translate}}"
                                type="text" formControlName="Capture" maxlength="4"> 
                                
                                <mat-error *ngIf="ForgotpwdsigninForm.get('Capture')?.errors">
                                    <mat-error *ngIf="ForgotpwdsigninForm.get('Capture').errors.required"
                                        class="login_err">{{'Login.captchaerrormessage'
                                        | translate}}</mat-error>
                                </mat-error>
                        </mat-form-field>

                        <div class="w-50" style="display:inline;margin-left: 10px;">
                            <img [src]="captchaimage" alt="Captcha Code">
                        </div>
                    </div>

                    <div class="login_action">

                        <button title="{{'Login.Submit' | translate}}" mat-raised-button
                            class="btn autoringuser_button p-2 theme_curve float-start mx-2" routerLink=".">
                            {{'Login.Submit' | translate}}
                        </button>

                        <button title="{{'Login.Cancel' | translate}}" mat-raised-button class="btn cst_pd_btn  p-2 theme_curve float-start"
                            routerLink="./login" (click)="BtnbacktoLoginPage()">
                            {{'Login.Cancel' | translate}}
                        </button>

                    </div>
                </form>
            </div>
        </div>


        <div class="changes_password_suess mt-5" *ngIf="status">

            <div class="dummy-positioning">

                <div class="success-icon">
                    <div class="success-icon__tip"></div>
                    <div class="success-icon__long"></div>
                </div>
                <div class="change_pw_data mt-3">
                    <strong>{{'Login.PasswordChanged' | translate}}</strong>
                    <span>{{'Login.PleaseLognewPassword' | translate}}</span>

                </div>
            </div>

            <div class="mt-5">
                <button title="{{'Login.BacktoLoginPage' | translate}}" mat-raised-button class="btn autoringuser_button_lo theme_curve"
                    routerLink="./login" (click)="BtnbacktoLoginPage()">
                    {{'Login.Login' | translate}}
                </button>
            </div>

        </div>

    </div>
</div>