::ng-deep.mat-form-field {
    margin-bottom: 0!important;
    
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 !important;
    margin: 0 !important;
    border-top: auto;
}

.text_area{    border: 2px solid #ccc;
    padding: 12px;
    border-radius: 5px;}

    a {
        color: #0d6efd;
        text-decoration: underline;
    }

.nof_q_inpt{    width: 70px; text-align: center}