<div class="d-flex mlr-0 justify-content-evenly">
  <div class="col-sm col-md-6 pl0">
    <div class="left_graphic"></div>
  </div>
  <div class="col-sm col-md-6">
    <div class="logincard " *ngIf="!status">
      <div class="logo">
        <img src="{{ brand?.Branding?.LogoPath }}" alt="logo" title="{{ 'Login.organizationLogo' | translate }}" />
      </div>
      <div class="login_system">
        <h2>{{ "Login.Title" | translate }}</h2>
        <h3 class="del_col">{{ "Login.ChangePassword" | translate }}</h3>

        <form class="form-signin" [formGroup]="signinForm" #formDirective="ngForm"
          (ngSubmit)="btnChangePassword(signinForm, formDirective)">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "Login.OldPassword" | translate }}</mat-label>

            <input tabindex="-1" id="oldpassword" name="oldpassword" autocomplete="off" oncut="return false" onDrop="return false"
              onPaste="return false" matInput placeholder="{{ 'Login.OldPassword' | translate }}"
              formControlName="oldpassword" [type]="hideoldpassword ? 'password' : 'text'" maxlength="50" />

            <span class="eye_icon" aria-hidden="true" (click)="hideoldpassword = !hideoldpassword"
              [class]="!hideoldpassword ? 'icon-show' : 'icon-hide'"></span>

            <mat-error *ngIf="signinForm.get('oldpassword')?.errors">
              <mat-error *ngIf="signinForm.get('oldpassword').errors.required" class="login_err">{{
                "Login.OldPasswordrequired" | translate }}</mat-error>
              <mat-error *ngIf="signinForm.get('oldpassword').errors?.cannotContainSpace" class="login_err">
                {{ "Login.passwordwhitespaceerror" | translate }}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "Login.NewPassword" | translate }}</mat-label>

            <input tabindex="-1" id="newpassword" name="newpassword" oncut="return false" onDrop="return false" onPaste="return false"
              autocomplete="off" matInput placeholder="{{ 'Login.NewPassword' | translate }}"
              formControlName="newpassword" [type]="hidenewpassword ? 'password' : 'text'" minlength="12" maxlength="50" />

            <span class="eye_icon" aria-hidden="true" (click)="hidenewpassword = !hidenewpassword"
              [class]="!hidenewpassword ? 'icon-show' : 'icon-hide'"></span>

            <mat-error *ngIf="signinForm.get('newpassword')?.errors">
              <mat-error *ngIf="signinForm.get('newpassword').errors.required" class="login_err">{{
                "Login.newpasswordrequired" | translate }}</mat-error>

              <mat-error *ngIf="
                  signinForm.get('newpassword').hasError('passwordStrength')
                " class="login_err">{{ "Login.patternerror" | translate }}</mat-error>
              <mat-error *ngIf="
                  signinForm
                    .get('newpassword')
                    .hasError('passwordStrengthlength')
                " class="login_err">
                {{
                "Login.Maxmincharrequired12alphanum" | translate
                }}</mat-error>

              <mat-error *ngIf="signinForm.get('newpassword').errors?.cannotContainSpace" class="login_err">
                {{ "Login.passwordwhitespaceerror" | translate }}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ "Login.ConfirmNewPassword" | translate }}</mat-label>

            <input tabindex="-1" id="cnfnewpassword" name="cnfnewpassword" autocomplete="off" oncut="return false"
              onDrop="return false" onPaste="return false" matInput
              placeholder="{{ 'Login.ConfirmNewPassword' | translate }}" formControlName="cnfnewpassword"
              [type]="hideconfirmpassword ? 'password' : 'text'" maxlength="50" />              
            <span class="eye_icon" aria-hidden="true" (click)="hideconfirmpassword = !hideconfirmpassword"
              [class]="!hideconfirmpassword ? 'icon-show' : 'icon-hide'"></span>

            <mat-error *ngIf="signinForm.get('cnfnewpassword')?.errors">
              <mat-error *ngIf="signinForm.get('cnfnewpassword').errors.required" class="login_err">{{
                "Login.confirmpassowrdrequired" | translate }}</mat-error>
              <mat-error *ngIf="
                  signinForm.get('cnfnewpassword')?.errors
                    ?.confirmPasswordValidator
                " class="login_err">
                {{
                "Login.confirmandnewpasswordmatcherror" | translate
                }}</mat-error>

              <mat-error *ngIf="
                  signinForm.get('cnfnewpassword').hasError('passwordStrength')
                " class="login_err">{{ "Login.patternerror" | translate }}</mat-error>
              <mat-error *ngIf="
                  signinForm.get('cnfnewpassword').errors?.cannotContainSpace
                " class="login_err">
                {{ "Login.passwordwhitespaceerror" | translate }}</mat-error>
            </mat-error>
          </mat-form-field>

          <div *ngIf="ValidationErrMsg">
            <div class="login_erromsg defult_err">
              {{ "Login.errormsg" | translate }}
            </div>
          </div>
          <div class="login_action">
            <button tabindex="-1" type="submit" title="{{ 'Login.ChangePassword' | translate }}" mat-raised-button
              class="btn autoringuser_button_lo theme_curve float-start">
              {{ "Login.ChangePassword" | translate }}
            </button>

            <button tabindex="-1" type="button" title="{{ 'Login.Cancel' | translate }}" mat-raised-button
              class="btn theme_button_light mx-2 float-start" (click)="closeMethod($event)">
              {{ "Login.Cancel" | translate }}
            </button>

          </div>
        </form>
      </div>
    </div>

    <div class="changes_password_suess mt-5" *ngIf="status">
      <div class="dummy-positioning">
        <div class="success-icon">
          <div class="success-icon__tip"></div>
          <div class="success-icon__long"></div>
        </div>
        <div class="change_pw_data mt-3">
          <strong>{{ "Login.PasswordChanged" | translate }}</strong>
          <span>{{ "Login.PleaseLognewPassword" | translate }}</span>
        </div>
      </div>

      <div class="mt-5">
        <button tabindex="-1" title="{{ 'Login.BacktoLoginPage' | translate }}" mat-raised-button
          class="btn autoringuser_button_lo theme_curve" (click)="BacktoLoginPage()">
          {{ "Login.Login" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>