.space{
    margin-right: 10px;
    margin-top: 2px;
}
.margintop{
    margin-top: 8px;
    font-weight: 500;
}
.custom-p-1{
    margin-top: -7px;
}

.atag{
    float: right;
}

.status_nos{  
    color: #FF0000;
    line-height: 16px;
  }
.span-status {
  margin-top: 4px;
  font-weight: 500;
  font-size: 12px;
}
