.hide {
    display: none !important;
}

.theme_toggle {
    background: var(--theme-dark);
    border-radius: 0px;
    color: #fff;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    font-size: 15px;
    padding: 2px 20px;
    position: relative;
}

.theme_toggle:hover {
    color: #fff;
}

.theme_toggle_light {
    background: #fff;
    border-radius: 0px;
    color: var(--theme-dark);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    font-size: 15px;
    padding: 2px 20px;
    border: 1px solid #ccc;
}

.text_are {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    max-height: 100px;
    height: 100px !important;
}

textarea {
    resize: none !important;
}

.remarkslbl {
    color: red;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}