.pos_rel{position: relative;}
.status_lagend{ text-indent: 10px; position: relative;}
.status_lagend::before{
    content: " ";
    width: 15px;
    height: 15px;
    position: absolute;
    left: -10px;
    top: 3px;
    border-radius: 50px;

}
.status_lagend.active::before
{ background: green}

.status_lagend.inactive::before
{ background:orange}

.status_lagend.blocked::before
{   content: " <span class="icon-block_user"></span>";}
.blocked span{     color: red;
    font-size: 20px;
    position: absolute;
    left: -20px;}
.blocked { position: relative; text-indent: 20px;}

.filter_btn {
    
    font-size: 27px;
}
.pl{
    padding-left:5px;
}
::ng-deep .filter_op{ min-width:250px;}


::ng-deep .filter_op select{    width: 100%;
    padding: 6px;}

.selct_par{ margin-bottom: 10px;}

.search_dash .icon-search {
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
}
.cust_ao_search{
    position: relative;
    right: 213px;
    top: 2px;
}
.user_counts strong {
    font-size: 14px;
    cursor: pointer;
    
}

.user_counts span {
    display: block;
}

.user_counts{ display: flex; 
    align-items: center}

.heder_flx{    
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;}

   .totl_user{color:#8667d3}
  
   .cust-textalign{
    text-align: center;
    width: 100%;
    font-size: 16px;
}
.word_wrpa{
    word-wrap: break-word;
}
.cust-seach{
    position: relative;
    top: 6px;
    right: 10px;
}
.anchorclick {
    color: #0d6efd;
}


 
.theme_toggle {
    
   
    color: #fff;
    
  }
  
    .theme_toggle:hover {
      color: #fff;
    }
  
  .theme_toggle_light {
    background: #fff;
     
    color: var(--theme-dark);
   
    border: 1px solid #ccc;
  }

  .cust-pos{
      position: relative;
      right: 6px;
  }
  .isactivecolor
  {
    background-color: #cfcfcf8a;
    color: #000000;
  }


  .backdrop{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    }

    .option_more {
       
        right: 0px;
    }
    .cur-pointer{
        cursor: pointer !important;
    }

    .sorticon {
        font-size: 21px;
        cursor: pointer !important;
        margin-top: -1px;
        margin-left: -5px;
        font-weight: bold;
        float: left;
        opacity: 0.7;
      }
      
      .sort_up {
        position: relative;
        transform: rotate(180deg);
      }
      
      .sorton {
        opacity: 0.7;
        color: #3356f0;
      }

      .container_cust{width:95%;
        max-width: 95%;}

        .sortting {
            float: left;
            margin-right: 10px;
          }
::ng-deep .mat-paginator-container {

    justify-content: space-between !important;

}

::ng-deep .mat-paginator-container .mat-form-field {
    margin-bottom: 7px;
    width: 70px !important;
    border: 1px solid #979797;
    padding: 8px;
    border-radius: 5px;
}

::ng-deep .mat-paginator-container .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.25px !important;
}

::ng-deep .mat-paginator {

    margin: 4px 10px 5px 10px !important;
}

.body_box {
    padding: 10px;
    padding-bottom: 0px;
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}

::ng-deep .mat-form-field-flex {

    width: 95% !important;
}

.custom-right{
    position: relative;
    right: 8px;
}
.modal-dialog-scrollable .modal-content {
max-height: 95%;
}

.table_list_scroll{
    height: 300px !important;
    overflow: auto !important;
}
.cust-pos-btn{
    position: relative;
    right: 37px;
    margin-bottom: 8px;
}
.pointer_disable{
    pointer-events: none;
}
.pointer_enable{
    pointer-events: all;
}

.roll_base select{
    padding: 4px 10px;
}