.word_wrpa{
    word-wrap: break-word; 
    padding-right: 8px;   
}

.table td, .table th { padding: 10px;border: 1px solid #ccc;}
.table th { font-weight: bold; background: #efefef;}

.table_data {
  overflow-x: auto;
  background: #fff;
  padding: 10px;
  margin-bottom: 30px;
}
.container_pad{padding:10px;}
